{# <a href="#main">Skip to main content</a>
<div class="lock">
  <nav-navbar>
    <a href="/" class="logo">
      <img src="/themes/custom/mytheme/logo.svg" alt="logo" />
      <div class="site-name">
        <span>{{ name }}</span>
      </div>
    </a>

    <button id="js-navbar-toggle" aria-controls="js-menu">
      <span><span class="sr-only">Toggle Navigation Bar</span></span>
    </button>
  </nav-navbar>
  <ul id="js-menu" aria-hidden="true">
    <li><a href="/faqs.html">FAQs</a></li>
    <li><a href="/training.html">Training</a></li>
    <li><a href="/sensusaccess.html">Sensus Access</a></li>
  </ul>
</div> #}